/* Reset de Estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos Globais */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

/* Estilo Cabeçalho */
header {
    background-color: #3498db;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

header h1 {
    font-size: 2em;
}

/* Estilo Main */
main {
    padding: 20px;
}

/* Estilo Sections */
section {
    margin-bottom: 30px;
}

/* Centralizar Começo */
#about,
#location,
#member-info,
#contact,
#image,
#contact-form {
    text-align: center;
}

/* Margem automática */
#about p,
#location p,
#location h3,
#member-info p {
    margin: 0 auto;
    max-width: 600px;
}

/* Estilos de cabeçalhos específicos */
.water-quality-heading,
.location-heading,
#clarification-heading,
#member-info h2,
#contact-form h1 {
    color: #3498db;
    font-size: 1.5em;
}

/* Estilos li */
ul {
    list-style: none;
    padding-left: 0;
}

li {
    margin-bottom: 10px;
}

li::before {
    content: "\2022";
    color: #000000;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

/* Estilo Formulário de Contato */
form {
    display: inline-block;
    text-align: left;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}

form input[type="text"],
form input[type="email"],
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form input[type="submit"] {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #2980b9;
}

/* Estilo Footer */
footer {
    background-color: #34495e;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

footer a {
    color: #3498db;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

/* Estilo dos Links na Seção de Contato */
#contact a {
    color: #000000;
    text-decoration: none;
}

#contact a:hover {
    color: #3498db;
    text-decoration: underline;
}

